.modal-auth {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color:  rgba(0,0,0,0.4);
    transition: 0.3s ease-in-out;
}

.modal-auth.active {
    opacity: 1;
    visibility: visible;
}

.modal-auth__content {
    width: 500px;
    margin: 15% auto;
    background-color: #fff;
    border-radius: 5px;
    position: relative;
    transition: inherit;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-100px);
}

.modal-auth.active .modal-auth__content {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.modal-auth__header {
    font-weight: 700;
    font-size: 30px;
}

.modal-auth__header, .modal-auth__body, .modal-auth__footer {
    padding: 16px 20px;
}

.modal-auth__close {
    position: absolute;
    top: 5px;
    right: 20px;
    font-size: 1.5rem;
    cursor: pointer;
    color: #7f7f7f;
}

.modal-auth__close:hover {
    color: #000;
}