
.trigger {
  font-size: 20px;
  line-height: 55px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  background: #fff;
}