@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,500;0,600;0,800;1,700&display=swap');

* {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

body {
    margin: auto;
    padding: 0;
}

a {
  text-decoration: none;
  color: unset;
}

.anticon {
  vertical-align: 0rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}